
{% extends 'base.html' %}

{% block content %}



<div class="container">
    <div class="row">
        <div class="">
            <h1 class="text-center">Mascotas</h1>
        </div>
    <div class="d-flex justify-content-center align-items-center table-container">
    <table class="table table-bordered table-striped  align-middle w-50 text-center">
        <thead class="">
            <tr>
                <td>nombre</td>
                <td>edad</td>
                <td>descripcion</td>
                <td>Imagen</td>
                <td>Adoptada</td>
                <td>Accion</td>
            </tr>
        </thead>
        <tbody>
            {% for a in mascotas %}
            <tr>
                <td>{{a.nombre}}</td>
                <td>{{a.edad}}</td>
                <td>{{a.descripcion}}</td>
                <td><img src="{{a.foto.url}}" width="100px"></td>

                <td>
                    <ul>
                        <li>

                            {% if a.adoptada %}
                            <h5 class="card-title">{{a.adoptada}}</h5>
                            {% endif %}
                        </li>
                    </ul>
                </td>

                <td><a href="{% url 'core_app:mascota' a.id %}" class="btn btn-success">Adoptar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
</div>
</div>

    {% endblock content %}
