{% extends 'base.html' %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card text-center border-info">
                <div class="card">
                    <img src="{{mascota.foto.url}}" class="card-img-top" alt="" style="width: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">{{mascota}}</h5>
                        <p class="card-text">{{mascota.descripcion}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if no_clientes %}
<form action="{% url 'core_app:adoptar' mascota.id %}" method="post">{% csrf_token %}
    <select name="cliente" id="">
        {% for cliente in no_clientes %}
        <option value="{{cliente.codigo}}">{{cliente}}</option>
        {% endfor %}
    </select>
    <input type="submit" name="" id="" value="adoptar">
</form>
{% else %}
<div>Todos los clientes ya adoptaron alguna mascota</div>

{% endif %}


{% endblock content %}
